## Stemmer Evaluation

`Evaluates the stemmer by getting the number of predicted root words vs. actual root words`

The input words are already tokenized and stemmed

In [2]:
import evaluator as se
import pandas as pd

In [3]:
result = se.to_panda_data()
df = pd.DataFrame(result['data'], index=result['index'])
df.tail(n=10)

             infix  is_entry  is_root  is_valid prefix     root suffix
nipahibawo     NaN     False    False     False     ni  pahibaw      o
naghuwat       NaN      True    False      True    nag    huwat    NaN
unsaon         NaN      True    False      True    NaN     unsa     on
mamahimong     NaN      True    False      True     ma     himo     ng
syudad         NaN      True     True      True    NaN   syudad    NaN
sirhan         NaN      True    False     False    NaN      sir    han
kalapasan      NaN      True    False      True     ka    lapas     an
bawian         NaN     False    False     False     ba       wi     an
nakalapas      NaN      True    False      True   naka    lapas    NaN
nagkadaiyang   NaN      True    False     False    nag  kadaiya     ng

In [6]:
stats = se.statistics(df=df)
df_2 = pd.DataFrame(stats['values'], index=stats['index'], columns=['Count/Percent'])
df_2

                          Count/Percent
Tokens                       1298.00000
Correct Root                  955.00000
Incorrect Root                343.00000
Correct Root %                 73.57473
Found Tokens                  974.00000
Correct Root (Found)          878.00000
Incorrect Root (Found)         96.00000
Unknown Tokens                324.00000
Correct Root (Unknown)         77.00000
Incorrect Root (Unknown)      247.00000